<template>
  <div>
    <h1>Subreddit > {{subRedditName}}</h1>

    <form action="">
      <b-field label="search">
        <b-input v-model="searchTerm"></b-input>
      </b-field>
    </form>

    <div v-if="logged">
      <button  class="button is-primary buttonOpenModal"
        @click="isModalFormActive = true">
        Add Post
      </button>

      <b-modal :can-cancel="canCancel" :active.sync="isModalFormActive">
        <form class="formSubreddit" @submit.prevent="onCreatePost()">
          <b-field label="title">
            <b-input v-model="post.title" required></b-input>
          </b-field>
          <b-field label="description">
            <b-input type="textarea" v-model="post.description"></b-input>
          </b-field>
          <b-field label="URL">
            <b-input v-model="post.URL" type="url"></b-input>
          </b-field>
          <button class="button is-success is-medium">Add Post</button>
        </form>
      </b-modal>
    </div>
    <div v-for="(post, index) in filteredPosts" :key="index">
      <media-object @delete-post="onDeletePost" :post="post"
      :user="usersById[post.user_id]"
      ></media-object>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import { mapActions, mapGetters, mapState } from 'vuex';
import MediaObject from '@/components/MediaObject.vue';

export default {
  name: 'Subreddit',
  components: { MediaObject },
  data() {
    return {
      subRedditName: '',
      searchTerm: '',
      canCancel: ['x'],
      isModalFormActive: false,
      post: {
        title: '',
        description: '',
        URL: '',
      },
    };
  },
  created() {
    this.subRedditName = this.$route.params.name;
  },
  mounted() {
    this.initUsers();
    this.initSubreddit({ name: this.subRedditName });
  },
  computed: {
    ...mapState('subreddit', ['posts']),
    ...mapState('loading', ['mainLoaderActive']),
    ...mapGetters({
      logged: 'auth/logged',
      usersById: 'users/usersById',
      subreddit: 'subreddit/subreddit',
    }),
    loadedUsersById() {
      return this.posts.reduce((byId, post) => {
        byId[post.user_id] = this.usersById[post.user_id] || {
          name: 'Loading...',
          image: 'http://www.cimec.co.za/wp-content/uploads/2018/07/4-Unique-Placeholder-Image-Services-for-Designers.png',
        };
        return byId;
      }, {});
    },
    filteredPosts() {
      const regexp = new RegExp(this.searchTerm, 'gi');
      if (this.searchTerm) {
        return this.posts.filter(post => post.title.match(regexp));
      }

      return this.posts;
    },
  },
  watch: {
    '$route.params.name': function () {
      this.initSubreddit({ name: this.subRedditName });
    },
    subreddit() {
      if (this.subreddit.id) {
        this.initPosts({ subredditId: this.subreddit.id });
      }
    },
  },
  methods: {
    ...mapActions('subreddit', ['createPost', 'initSubreddit', 'initPosts', 'deletePost']),
    ...mapActions('users', { initUsers: 'init' }),
    async onCreatePost() {
      this.isModalFormActive = false;
      if (this.post.title && (this.post.description || this.post.URL)) {
        await this.createPost(this.post);
      }
    },
    async onDeletePost(postId) {
      await this.deletePost(postId);
      console.log('teste')
    }
  },
};
</script>

<style scoped>

  h1 {
    margin-bottom: 40px;
  }

  .formSubreddit {
    display: block;
    max-width: 800px;
    margin-top: 40px;
    background-color: #fff;
    padding: 40px;
  }

  .buttonOpenModal {
    margin-top: 20px;
    margin-bottom: 40px;
  }

</style>
