<template>
  <div>
    <aside class="menu">
      <p class="menu-label">
        Subreddits
      </p>
      <ul class="menu-list">
        <li v-for="(subreddit,index) in subreddits" :key="index">
          <router-link :to="{ name: 'subreddit', params: {name: subreddit.name}}">
            {{subreddit.name}}</router-link>
        </li>
      </ul>
  </aside>
  </div>
</template>

<script>
/* eslint-disable */

import {mapState, mapActions} from 'vuex';

export default {
  name: 'Subreddits',
  methods: mapActions('subreddits', ['init']),
  computed: mapState('subreddits', ['subreddits']),
  mounted() {
    this.init();
  }
}
</script>

<style scoped lang="scss">

</style>