<!--  eslint-disable  -->
<template>
  <div>
    <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="false"></b-loading>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  name: 'Loading',
  data() {
    return {
      isFullPage: true,
    }
  },
  computed: {
    isLoading() {
      return this.$store.state.loading.mainLoaderActive;
    }
  }
}
</script>
