<template>
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <a :href="post.URL" target="_blank">
          <img style="height:100%;" :src="isImage(post.URL) ? post.URL : `http://www.cimec.co.za/wp-content/uploads/2018/07/4-Unique-Placeholder-Image-Services-for-Designers.png`">        </a>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <small>
          <a style="color: #369;" href="">{{post.title}}</a>
        </small><br>
        <small> <i>{{post.description}}</i> </small><br>
          <img v-if="user" height="15px" width="15px" class="user-image"
           :src="user.image" alt="">
        <small>
          <strong v-if="user" class="name">{{user.name}}</strong>
        </small>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-heart"></i></span>
          </a>
        </div>
      </nav>
    </div>
    <div class="media-right"
      @click="$emit('delete-post', post.id)"
      v-if="logged && (post.user_id == userId)">
      <button class="delete"></button>
    </div>
  </article>
</template>

<script>
/* eslint-disable */
import { mapGetters } from 'vuex';
export default {
  name: 'MediaObject',
  props: ['post', 'user'],
  methods: {
    isImage(url) {
      return url.match(/(png|jpg|jpeg|gif)$/);
    }
  },
  computed: {
    ...mapGetters({
      logged: 'auth/logged',
      userId: 'auth/userId'
    })
  }
}
</script>

<style scoped>
  .name {
    font-size: 11px;
  }
  .user-image {
    border-radius:50%;
    margin-right:3px; 
    position:relative; 
    top:3px;
  }
</style>
