<template>
  <b-navbar>
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        <img
          src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"
          alt="Lightweight UI components for Vue.js based on Bulma"
        />
      </b-navbar-item>
    </template>
    <template slot="start">
      <router-link class="navbar-item" to="/">Home</router-link>
      <router-link class="navbar-item" to="/subreddits">subreddits</router-link>
    </template>

    <template slot="end">
      <b-navbar-item tag="div">
        <div class="buttons">
          <template v-if="!loginStatus">
            <a class="button is-primary" @click="logInWithGoogle()">Login With Google</a>
          </template>
          <template v-if="loginStatus">
            <div class="profile-header">
              <div class="profile-icon">
                <img :src="user.image" alt="">
              </div>
              <div class="profile-name">
                <span>{{user.name}}</span>
              </div>
            </div>
            <a class="button is-danger"  @click="logOutWithGoogle()">
              <strong>Logout</strong>
            </a>
          </template>
        </div>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
/* eslint-disable */
import { mapActions, mapState } from 'vuex';

export default {
  name: 'Navbar',
  computed: {
    ...mapState('auth',[ 'user', 'isLoggedIn']), 
    loginStatus() {
      return this.$store.state.auth.isLoggedIn
    }
  },
  methods: {
    ...mapActions('auth', ['login', 'logOut']),
    logInWithGoogle() {
      this.login();
    },
    logOutWithGoogle() {
      this.logOut();
    }
  },
};
</script>

<style lang="scss">

  .profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;

    span {
      position: relative;
      bottom: 5px;
      font-size: 13px;
      color: #111;
    }
    
  }

  .profile-icon {
    display: inline-block;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    position: relative;
    right: 10px;
    bottom: 5px;

    img {
      max-height: none;
      height: 36px;
      width: 36px;
      border-radius: 50%;
    }
  }
</style>